src/main/mule/experience/experience-layer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-leads-experience-flow" doc:id="06033d6a-0783-4af4-bdcd-e5359493c67c" >
		<http:listener doc:name="Listener" doc:id="0fdffa63-daa2-4e97-bcdd-558b6ee53683" config-ref="HTTP_Listener_config" path="sync-db-leads">
			<http:error-response statusCode="500" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="ffe241de-c13b-4184-81ee-5398f243b9cc" message='"Experience Layer: Triggering Database to Salesforce Lead Sync."'/>
		<flow-ref doc:name="Flow Reference" doc:id="4e629070-9853-4bb3-97cc-c32a0406dc1e" name="leads-process-orchestration-flow"/>
		<ee:transform doc:name="Transform Message" doc:id="0260c1aa-b237-47b3-b86b-6750ad7bad61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "message": "Sync processing complete.",
  "salesforce_results": payload
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
